<section>
  <div class="container mt-5">
    <div class="row pt-2">
      <div class="col-12 col-sm-7 col-md-6 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body">
            <h5 class="fw-bold pt-2">Start in Dashboard</h5>
            <form [formGroup]="loginForm">
              <input
                formControlName="email"
                type="text"
                name=""
                id=""
                class="form-control my-4 py-2"
                placeholder="Email"
              />

              <!-- Mensajes de error (email) -->
              <div
                *ngIf="getemail.invalid && (getemail.dirty || getemail.touched)"
                class="text-danger"
              >
                <div *ngIf="getemail.errors?.['required']">
                  Email is required.
                </div>
                <div *ngIf="getemail.errors?.['email']">
                  The email must be formatted correctly.
                </div>
              </div>

              <input
                formControlName="password"
                type="password"
                name=""
                id=""
                class="form-control my-4 py-2"
                placeholder="Password"
              />

              <!-- Mensajes de error (password) -->
              <div
                *ngIf="
                  getpassword.invalid &&
                  (getpassword.dirty || getpassword.touched)
                "
                class="text-danger"
              >
                <div *ngIf="getpassword.errors?.['required']">
                  Password is required.
                </div>
              </div>

              <div class="text-center mt-3">
                <button
                  (click)="login()"
                  type="submit"
                  class="btn btn-outline-primary w-100"
                >
                  Login
                </button>
                <p class="text-danger fw-bold mt-2">{{loginError}}</p>
                <!-- <a href="#" class="nav-link mt-2">You don't have an account?</a> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
