<div class="card text-center">
  <div class="card-body bg-body-tertiary">
    <h4 class="card-title">Project Frontend</h4>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, @brrnzz.
    </p>
  </div>

  <div class="card-footer text-light bg-primary">
    2023 © Copyright All Right Reserved - Braian López

    <a href="#" class="btn text-light"
      ><i class="fa-brands fa-square-facebook" widht=""></i
    ></a>

    <a href="#" class="btn text-light"
      ><i class="fa-brands fa-square-x-twitter"></i
    ></a>

    <a href="#" class="btn text-light"
      ><i class="fa-brands fa-square-instagram"></i
    ></a>

    <a href="#" class="btn text-light"
      ><i class="fa-brands fa-square-github"></i
    ></a>
  </div>
</div>
